body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    font-size: 1.2vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: 'Dancing Script', cursive;
    width: 16%;
    text-shadow:
    1px 1px 0px black,
    -1px 1px 0px black 
    1px -1px 0px black
    -1px -1px 0px black;
}

ul {
    margin: 0px;
}

body > header {
    background-color: #8EACCD;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 10px;
    margin: 1px ;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    font-family: "Open Sans", sans-serif;
}

#all > main > h2 {
    margin: 0;
    padding: 40px;
}

#prep {
    padding: 12px;
}

#all {
    background-color: #fef9d9;
}

img {
    padding-left: 30px;
    padding-right: 30px ;
    border-radius: 40%;

}

#methods > article > footer {
    margin-top: 100%;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

body > main article {
    width: 80%;
    margin: auto;
}

#list {
    padding-left: 10px;
}

#ing{
    float: right;
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

#methods {
    padding-left: 0px;
    width: 70%;
    margin-right: 10%;
}

#footer {
    margin-top: 40%;
}

#footer > h3 {
    font-family: "Open Sans", sans-serif;
}

.grid-container {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px;
    padding: 15px;
    width: 45%;
    text-align: center;
}

#form > hr {
    margin: 0;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}


#form {
    background-color: #dee5d4;
}

body > footer {
    background-color: #8EACCD;
    display: flex;
    margin: 0;
}

body > footer > h1 {
    color: white;
    margin-left: 12px;
    font-family: 'Dancing Script', cursive;
}

#footer {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;

}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}